PORT=3000
NODE_ENV=development

# -------------------------------------------------------------
# DATABASE CONNECTION URL FOR MONGODB / MONGODB COMPASS
# -------------------------------------------------------------
# For Local MongoDB (Default MongoDB Compass Port 27017):
DATABASE_URL="mongodb://localhost:27017/event_management_db?authSource=admin"

# For MongoDB Atlas Cloud Cluster:
# DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.mongodb.net/event_management_db?retryWrites=true&w=majority"

# For SQLite (Local Zero-Config Fallback):
# DATABASE_URL="file:./dev.db"

JWT_SECRET="super-secret-jwt-key-event-management-api-2026"
JWT_EXPIRES_IN="7d"
CORS_ORIGIN="*"
